Flask
Flask-Login
Flask-JWT-Extended
Flask-Mail
Flask-PyMongo
Flask-Migrate
Flask-WTF
bcrypt
pycryptodome
python-dotenv
argon2-cffi
pymongo
dnspython
mongoengine
loguru
watchdog
sentry-sdk
Flask-RESTful
marshmallow
Flask-Assets
flask-cors
pytest
pytest-flask
faker

